@{
    ViewData["Title"] = "Ana Sayfa";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Blog Template for Bootstrap</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />

    <link href="~/css/blog.css" rel="stylesheet" />


</head>

<body>

    <h1>En Çok Okunan Blog Yazıları</h1>

    <div class="row">

        <div class="col-sm-8 blog-main">
            @{
                if (ViewBag.Data != null)
                {
                    int sayac = 0;
                    foreach (var item in ViewBag.Data)
                    {

                        if (sayac++ > 4)
                        {
                            break;
                        }
                        <div id="blog-post" class="blog-post" style="width:100%;">
                            <img type="submit" src="@item.Resim" style="height:50%; width:100%;" />
                            <h2 class="blog-post-title">@item.Baslik</h2>
                            <p class="blog-post-meta">@item.Aciklama</p>
                            <h3>@item.Tarih</h3>
                        </div>

                        <p>---------------------------------------------------------</p>
                    }
                }
                else
                {
                    <span style="color:red">@Html.Label((string)ViewBag.Name)</span>
                }

            }

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/js/bootstrap.js"></script>

</body>
</html>